.wrapper {
    background: white;
    padding: 10px;
    top: 20%;
    border-radius: 20px;
    width: 800px;
}

.editor {
    position: relative;
    padding: 5px;
}


.title_info{
    width: 90%;
    padding: 10px;
}

.btn_download{

}

.control {
    display: flex;
    align-items: center;
}

.crop{
    padding: 5px;
}

.img {
    max-width: 960px;
    height: 540px;
}

.cropped {
    width: 640px;
    height: 117px;
}

.cropped_img {
    width: 624px;
    height: 112px;
}