.wrapper {
    background: white;
    padding: 10px;
    top: 20%;
    border-radius: 20px;
    width: 800px;
}

.editor {
    position: relative;
    padding: 5px;
}


.title_info{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed gray;
    cursor: pointer;
    color: gray;
    transition: 0.3s ease-in-out;
}

.title_info:hover{
    color: rgba(10, 10, 12, 0.82);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.44);
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crop{
    padding: 5px;
}

.img {
    max-width: 960px;
    height: 540px;
}

.cropped {
    width: 640px;
    height: 117px;
}

.cropped_img {
    width: 624px;
    height: 112px;
}