.global {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-white {
    position: absolute;
    padding-right: 80px;
    padding-bottom: 50px;
    width: 10px;
    height: 10px;
    z-index: 11;
}

.lds-white div {
    animation: lds-white 1.2s cubic-bezier(0.1, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-white div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    margin: -4px 1px 0 -4px;
    box-shadow: 0 0 20px 3px rgb(238, 207, 207);

}

.lds-white div:nth-child(1) {
    animation-delay: -0.045s;
}

.lds-white div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-white div:nth-child(2) {
    animation-delay: -0.090s;
}

.lds-white div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-white div:nth-child(3) {
    animation-delay: -0.125s;
}

.lds-white div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-white div:nth-child(4) {
    animation-delay: -0.180s;
}

.lds-white div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-white div:nth-child(5) {
    animation-delay: -0.225s;
}

.lds-white div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-white div:nth-child(6) {
    animation-delay: -0.270s;
}

.lds-white div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-white div:nth-child(7) {
    animation-delay: -0.315s;
}

.lds-white div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-white div:nth-child(8) {
    animation-delay: -0.36s;
}

.lds-white div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-white {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.small{
    transform: scale(0.3);
}

.normal{
    transform: scale(0.6);
}

.big{
    transform: scale(0.9);
}

.large{
    transform: scale(1.2);
}

.local {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.lds-black div {
    animation: lds-black 1.2s cubic-bezier(0.1, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-black div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: 0 0 15px 4px rgba(3, 166, 236, 0.86);
    margin: -4px 1px 0 -4px;
}

.lds-black div:nth-child(1) {
    animation-delay: -0.045s;
}

.lds-black div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-black div:nth-child(2) {
    animation-delay: -0.090s;
}

.lds-black div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-black div:nth-child(3) {
    animation-delay: -0.125s;
}

.lds-black div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-black div:nth-child(4) {
    animation-delay: -0.180s;
}

.lds-black div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-black div:nth-child(5) {
    animation-delay: -0.225s;
}

.lds-black div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-black div:nth-child(6) {
    animation-delay: -0.270s;
}

.lds-black div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-black div:nth-child(7) {
    animation-delay: -0.315s;
}

.lds-black div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-black div:nth-child(8) {
    animation-delay: -0.36s;
}

.lds-black div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-black {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}