.contextWrapper {
    position: absolute;
    margin-left: 290px;
    display: flex;
    z-index: 2;
    padding: 5px 0;
}

.test {
    background-color: white;
    padding: 30px;
}

.ul {
    white-space: nowrap;
    padding-inline-start: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}

.li_title {
    margin-left: 10px;
}

.link{
    text-decoration: none;
    color: #181818;
}

.li {
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 7px;
    margin: 0 0 3px 10px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.li:hover {
    transform: translate(5px, 0);
    transition: all 0.1s ease-out;
}
