.header {
	display: flex;
	align-items: center;
	background-color: var(--header-color);
	width: 100vw;
	max-height: 40px;
	padding: 8px 10px;
}
.share{
	position: relative;

}
.menu {
	color: white;
	transform: scale(2);
}

.control {
	display: flex;
	justify-content: right;
	width: 100%;

}

.logo{
	color: rgba(255, 255, 255, 0.63);
	display: flex;
	justify-content: center;
	white-space: nowrap;
	padding: 5px 50px 5px 0;
	font-weight: 600;
	transition: 0.3s ease-in-out;
}

.logo:hover {
	transform: rotateX(180deg);
}

.icon {
	display: flex;
	align-items: center;
	padding: 0 5px;
	transform: scale(1.4);
}


.logout {
	transform: scale(1.7);
	margin: 0 15px;
}
