.wrapper {
	background: white;
	position: absolute;
	width: 400px;
	top: 45px;
	left: 5%;
	padding: 15px 5px;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.37);
	color: #5e6c84;
	border-radius: 5px;
	z-index: 10;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user_list {
	margin: 5px;
}

.user_span {
	color: #17175b;
	margin: 0 5px;
}

.users {
	margin: 15px 5px;
}

.user {
	display: flex;
	transition: 0.3s ease-in-out;
	border-radius: 50px 15px 15px 50px;
	margin: 10px 0;
}

.avatar {
	background: #0a0a85;
	border-radius: 50px;
	color: white;
	font-size: 20px;
	margin-right: 15px;
	padding: 3px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
