.context_menu {
    position: absolute;
    border:var(--context-menu-border) ;
    border-radius: var(--context-menu-border-radius);
    color: var(--context-menu-color);
    box-shadow: var(--context-menu-box-shadow);
    z-index: 10;
    width: 230px;
    background: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
