.wrapper{
	background-color: rgba(4, 87, 196, 0.48);
	width: 100vw;
	height: 100vh;
}

.card_modal_wrapper {
	position: relative;
	max-height: calc(100vh - 60px);
	background-color: var(--card-modal-background-color);
	padding: 10px 10px 20px 20px;
	border-radius: 5px;
	min-height: 40vh;
	width: 700px;
	color: var(--card-modal-text-color);
	margin-top: 0;
	font: var(--primary-font);
	overflow-y: scroll;
}

.content {
	display: flex;
}

.main_components {
	width: 75%;
}

.date_wrapper {
	margin-top: 10px;
}

.loader {
	position: absolute;
	left: 11vw;
	top: 35%;
}

.checklists_wrapper {
	overflow-y: auto;
	height: 35vh;
	background-color: black;
}

.title_column {
	font-size: 0.9rem;
	margin: 0 100px 0 35px;
	opacity: 0.7;
}


/*.card_modal_wrapper {*/
/*    overflow-y: auto;*/
/*}*/

/*.card_modal_wrapper::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/*.card_modal_wrapper::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*    padding: 10px;*/
/*}*/

/*.card_modal_wrapper::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(0, 128, 128, 0.15);*/
/*    border-radius: 4px;*/
/*}*/
