.iconRed,
.WitchingHour,
.KieMeh,
.iconBlue,
.iconGreen,
.iconYellow,
.iconMagenta,
.iconDark,
.iconGrBl,
.iconOrange {
	display: flex;
	justify-content: left;
	border-radius: 10px;
	width: 20%;
	height: 115px;
	text-overflow: ellipsis;
	font-weight: 500;
	margin: 5px;
	background-size: cover;
	size: auto;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.iconRed:hover,
.WitchingHour:hover,
.KieMeh:hover,
.iconBlue:hover,
.iconGreen:hover,
.iconYellow:hover,
.iconMagenta:hover,
.iconDark:hover,
.iconGrBl:hover,
.iconOrange:hover {
	box-shadow: inset 1px 1px 100px 20px rgba(0, 0, 0, 0.75);
}

.iconBlue,
.iconYellow,
.KieMeh,
.iconGrBl {
	color: #1e1d1d;
}

.iconBlue {
	background: linear-gradient(45deg, #0747a6, #008da6);
}

.iconGreen {
	background: linear-gradient(45deg, #006644, #03b67a);
}

.iconRed {
	background: linear-gradient(45deg, #ff0000, #ad1051);
}

.iconYellow {
	background: linear-gradient(45deg, #bbd705, #667200);
}

.iconMagenta {
	background: linear-gradient(45deg, #570b2c, #de4486);
}

.iconDark {
	background: linear-gradient(45deg, #055457, #150f13);
}

.iconGrBl {
	background: linear-gradient(45deg, #1d109a, #0aafaf);
}

.iconOrange {
	background: linear-gradient(45deg, #ef6605, #6b4600);
}

.WitchingHour {
	background: linear-gradient(45deg, #c31432, #240b36);
}

.KieMeh {
	background: linear-gradient(45deg, #8360c3, #2ebf91);
}
