.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100vw;
}

.body {
	margin-top: 50px;
	height: 90vh;
	overflow-x: hidden;
}

.content {
	margin: 0 20%;
	padding: 30px;
}

.title_workspaces {
	font-size: 16px;
	font-weight: 700;
	color: #5e6c84;
}

.workspaces {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 10px;
}

.board_creator {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 22%;
	height: 115px;
	font-weight: 700;
	color: #1f1f3a;
	margin: 5px;
	background: #b7b5b0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.board_creator:hover {
	opacity: 1;
	background: #8f8e89;
}

.content::-webkit-scrollbar {
	width: 5px;
}

.content::-webkit-scrollbar-track {
	background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
	background-color: #bdbaba;
	border-radius: 10px;
	margin: 2px;
}

.content::-webkit-scrollbar-thumb:hover {
	background-color: rgb(238, 207, 207);
	cursor: grab;
}

.title_board {
	padding: 5px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.64);
	color: #ffffff;
	min-width: 80%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	cursor: pointer;
}

.type1,
.type2,
.type3,
.type4,
.type5,
.type6,
.type7,
.type8,
.black,
.gray,
.orange,
.blue,
.red,
.green {
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	width: 22%;
	height: 115px;
	text-overflow: ellipsis;
	font-weight: 500;
	margin: 5px;
	background-size: cover;
	size: auto;
	transition: all 0.3s ease-in-out;
	position: relative;
}

.type1:hover,
.type2:hover,
.type3:hover,
.type4:hover,
.type5:hover,
.type6:hover,
.type7:hover,
.type8:hover,
.black:hover,
.gray:hover,
.orange:hover,
.blue:hover,
.red:hover,
.green:hover {
	box-shadow: inset 1px 1px 100px 20px rgba(0, 0, 0, 0.75);
}

.type1:hover .board_edit,
.type2:hover .board_edit,
.type3:hover .board_edit,
.type4:hover .board_edit,
.type5:hover .board_edit,
.type6:hover .board_edit,
.type7:hover .board_edit,
.type8:hover .board_edit,
.gray:hover .board_edit,
.orange:hover .board_edit,
.blue:hover .board_edit,
.red:hover .board_edit,
.green:hover .board_edit,
.black:hover .board_edit {
	opacity: 100;
}

.type1 {
	background-image: var(--type1_background_icons);
}

.type2 {
	background-image: var(--type2_background_icons);
}

.type3 {
	background-image: var(--type3_background_icons);
}

.type4 {
	background-image: var(--type4_background_icons);
}

.type5 {
	background-image: var(--type5_background_icons);
}

.type6 {
	background-image: var(--type6_background_icons);
}

.type7 {
	background-image: var(--type7_background_icons);
}

.type8 {
	background-image: var(--type8_background_icons);
}

.black {
	background: #282727;
}

.gray {
	background: #9b9393;
}

.orange {
	background: #c9741f;
}

.blue {
	background: #16aac4;
}

.red {
	background: #9b2222;
}

.green {
	background: rgba(87, 157, 39, 0.99);
}

.board_edit {
	position: absolute;
	right: 5px;
	top: 5px;
	opacity: 0;
	transform: scale(1.3);
	transition: ease-in-out 0.3s;
}

.editor {
	position: absolute;
	background-color: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.47);
	left: 98%;
	top: 5px;
	border-radius: 5px;
	z-index: 2;
	padding: 5px;
	width: 170px;
}

li {
	font-weight: 500;
}
