.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.wrapper {
	background: rgba(29, 29, 201, 0.87);
	overflow-x: hidden;
	overflow-y: auto;
	width: 100vw;
}

.body {
	background: #ffffff;
	max-height: 90vh;
	overflow-x: hidden;
}

.content {
	margin: 0 20%;
	padding: 30px;
}

.title_workspaces {
	font-size: 16px;
	font-weight: 700;
	color: #5e6c84;
}

.workspaces {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 10px;
}

.board_creator {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 15%;
	font-weight: 700;
	color: #1f1f3a;
	padding: 40px 55px;
	margin: 5px;
	background: #b7b5b0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	opacity: 0.8;
}

.board_creator:hover {
	opacity: 1;
	background: #8f8e89;
}

.content::-webkit-scrollbar {
	width: 5px;
}

.content::-webkit-scrollbar-track {
	background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
	background-color: #bdbaba;
	border-radius: 10px;
	margin: 2px;
}

.content::-webkit-scrollbar-thumb:hover {
	background-color: rgb(238, 207, 207);
	cursor: grab;
}
