.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: var(--modal-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_wrapper {
    display: flex;
    justify-content: center;
}

.modal_card {
    z-index: 2;
    background: var(--modal-card-background-color);
    padding: var(--modal-background-padding);
    border-radius: var(--modal-background-border-radius);
}

.context_card {}

.context_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal_background {
    overflow-y: auto;
}

.modal_background::-webkit-scrollbar {
    width: 8px;
}

.modal_background::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 10px;
}

.modal_background::-webkit-scrollbar-thumb {
    background-color: rgba(0, 128, 128, 0.15);
    border-radius: 4px;
}
