.wrapper {
	min-height: 580px;
}

.input_range {
	padding: 10px 35px;
}

.cropped_area {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.background_editor {
	display: flex;
	justify-content: center;
}

.preview {
	position: relative;
	width: 700px;
	height: 272px;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.29);
	border-radius: 15px;
}

.avatar {
	position: absolute;
	top: 160px;
	left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 90px;
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.88);
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.img_avatar {
	width: 97%;
	height: 97%;
	border-radius: 100%;
}

.img {
	border-radius: 10px 10px 0 0;
}

.cropped_img {
	width: 100%;
	height: 112px;
}

.white_background {
	width: 100%;
	height: 112px;
	margin-top: 65px;
}

.person_name {
	text-shadow: 1px 1px 2px #000000, 0 0 2em rgba(41, 232, 41, 0.91), 0 0 0.2em #090909;
    margin-left: 30%;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.second_name {
	font-size: 24px;
}

.first_name {
	font-size: 24px;
	display: flex;
	justify-content: center;
	padding-right: 30%;
}

.btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px;
}
