.wrapper {
	background-image: url('https://images.wallpaperscraft.ru/image/single/volny_bryzgi_pena_193879_3840x2400.jpg');
	background-size: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.greeting {
	backdrop-filter: blur(3px);
	border-radius: 50% 10%;
	padding: 5%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 36px 1px rgba(1, 10, 12, 0.47);
	margin-right: 5%;
	max-width: 50%;
	font-size: 4rem;
	font-weight: 600;
	transition: all 0.4s ease-in-out;
	mix-blend-mode: overlay;
}

.password{
	display: flex;
	align-items: center;
	color: white;
}

.control_pass{
	transform: scale(2);
}

.one {
	font-size: 8rem;
	text-shadow: 1px 1px 13px #000000, 0 0 0.5em #5c5c65, 0 0 0.5em #10865f;
	color: rgb(37, 119, 176);
}

.two {
	font-size: 6rem;
	text-shadow: 1px 1px 13px #000000, 0 0 0.5em #5c5c65, 0 0 0.5em #10865f;
	color: rgb(201, 206, 195);
}

h2 {
	display: flex;
	justify-content: center;
	color: white;
}

.title {
	color: white;
}
.controller {
	backdrop-filter: blur(10px);
	padding: 20px;
	min-width: 15% ;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 36px 1px rgba(18, 22, 23, 0.47);
	width: 15%;
	height: 50%;
}

.footer {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
