.wrapper {
	background-image: url('https://images.wallpaperscraft.ru/image/single/volny_bryzgi_pena_193879_3840x2400.jpg');
	background-size: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.greeting {
	border-radius: 50% 10%;
	padding: 5%;
	box-shadow: inset 1px 1px 36px 1px rgba(1, 10, 12, 0.79);
	margin-right: 10%;
	max-width: 50%;
	font-size: 4rem;
	font-weight: 600;
	transition: all 0.4s ease-in-out;
}

.one {
	font-size: 8rem;
	text-shadow: 1px 1px 13px #000000, 0 0 0.5em #545460, 0 0 0.5em #0e0f10;
	color: rgb(37, 119, 176);
}

.two {
	font-size: 6rem;
	text-shadow: 1px 1px 13px #000000, 0 0 0.5em #545460, 0 0 0.5em #333131;
	color: rgb(255, 255, 255);
}

h2 {
	display: flex;
	justify-content: center;
	color: white;
}

.title {
	color: white;
}
.controller {
	backdrop-filter: blur(10px);
	padding: 20px;
	min-width: 250px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: inset 1px 1px 36px 1px rgba(18, 22, 23, 0.47);
	width: 15%;
	height: 50%;
}

.control_pass {
	transform: scale(1.4);
	color: white;
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.link_wrapper {
	display: flex;
	justify-content: center;
	color: white;
}

.link{
	padding: 0 5px;
	color: #e4ec03;
	text-decoration: none;
}
