.wrapper{
    position: fixed;
    z-index: 4;
    padding: 15px 10px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.13);
    color: #5e6c84;
    border-radius: 5px;

    max-height: 750px;
    right: 20%;
    background-color: #ffffff;
}