.wrapper {
    background: #f1f5f5;
    position: absolute;
    width: 300px;
    top: 130px;
    left: 75%;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.23);
    color: #5e6c84;
    flex-wrap: wrap;
}

.header {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.title_picker {
    padding-left: 5px;
}

.pickers {
    margin-bottom: 10px;
    width: 100%;
}

.type1, .type2, .type3, .type4, .type5, .type6, .type7, .type8, .black, .gray, .orange, .blue, .red, .green {
    display: flex;
    height: 130px;
    justify-content: center;
    background-size: cover;
    size: auto;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.type1 {
    background-image: var(--type1_background_icons);
}

.type2 {
    background-image: var(--type2_background_icons);
}

.type3 {
    background-image: var(--type3_background_icons);
}

.type4 {
    background-image:  var(--type4_background_icons);
}

.type5 {
    background-image: var(--type5_background_icons);
}

.type6 {
    background-image: var(--type6_background_icons);
}

.type7 {
    background-image: var(--type7_background_icons);
}

.type8 {
    background-image:  var(--type8_background_icons);
}


.black {
    background: #282727;
}

.gray {
    background: #9b9393;
}

.orange {
    background: #c9741f;
}

.blue {
    background: #16aac4;
}

.red {
    background: #9b2222;
}

.green {
    background: rgba(87, 157, 39, 0.99);
}

.column_background_img {
    background-image: url("https://a.trellocdn.com/prgb/assets/14cda5dc635d1f13bc48.svg");
    width: 100%;
    margin: 10px 25px;
    background-size: cover;
}


.picker {
    display: flex;
    width: 100%;

    padding: 2px;
    flex-wrap: wrap;
}


.background_color_picker {
    display: flex;
    align-items: center;
}

.background_picker {
    width: 100%;
}

.add_controller {
    margin: 10px 0;
}

.add_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

