.wrapper{
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgb(211, 47, 47);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
}

.message{
    padding: 0 10px;
}