.wrapper {
	position: absolute;
	bottom: 50px;
	right: 50px;
	color: white;
	border-radius: 5px;
	align-items: center;
	z-index: 120;
}
.header_error, .header_submit, .header_warning {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 5px 0 0;
}

.header_error{
	background-color: rgba(211, 47, 47, 0.94);
}

.header_submit{
	background-color: rgba(18, 134, 121, 0.68);
}

.header_warning{
	background-color: rgba(230, 255, 0, 0.68);
	color: black;
}

.title {
	margin-left: 10px;
}
.message {
	padding: 0 10px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 0 5px 5px;
}
