.wrapper {
	position: absolute;
	bottom: 50px;
	right: 50px;
	color: white;
	border-radius: 5px;
	align-items: center;
	z-index: 20;
}
.header {
	background-color: rgba(211, 47, 47, 0.94);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 5px 0 0;
}

.title {
	margin-left: 10px;
}
.message {
	padding: 0 10px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 0 5px 5px;
}
