.input {
    width: 80%;
    border: none;
    outline: none;
    font-weight: var(--input-font-weight);
    font-family: var(--prymary-font);
    padding: var(--input-padding);
    margin: var(--input-margin);
    border-radius: var(--input-border-radius);
    background-color: var(--input-background-color);
    min-width: 140px;
    resize: none;
}

.input.white {
   color: #202123;
}
.input.black {
  color: #cbc3c3;
}
.input.transparent {
    color: #f5f1f1;
}
.input.blue {
    color: #596375;
}

.input.outlined {
    color: #2b4f72;
}

.input_container {
    display: flex;
    border-radius: var(--input-container-border-radius);
    margin: var(--input-container-margin);
}

.input_container.white {
    background-color: var(--input-container-background-color-white);
}
.input_container.black {
    background-color: var(--input-container-background-color-black);
}
.input_container.transparent {
    background-color: var(--input-container-background-color-transparent);
    border: 1px solid #b6bcc0;
}
.input_container.outlined {
    background-color: var(--input-container-background-color-transparent);
    border: 2px solid #5d9ac2;
}
.input_container.blue {
    background-color: var(--input-container-background-color-blue);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.33);
}

.text_area {
    font-size: 1rem;
    font-weight: var(--textarea-font-weight);
    padding: var(--textarea-padding);
    margin: var(--textarea-margin);
    border: none;
    border-radius: var(--textarea-border-radius);
    font-family: var(--prymary-font);
    resize: none;
    outline: none;
    overflow: hidden;
}

.label {
    font-size: var(--input-label-font-size);
}


.large {
    font-size: var(--main-font-size);
    font-weight: 500;
}

.normal {
    font-size: 14px;
    font-weight: 500;
}

