
.user{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.user:hover{
    /*transform: scale(1.05);*/
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.57);
}

.user_avatar{
    width: 100%;
    height: 100%;
}

.empty_avatar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background: radial-gradient(white, #212b70);
    border-radius: 100%;
}