.wrapper {
    width: 100%;
    padding: 80px 0;
}

.content {
    position: relative;
    margin: 0 30%;
    width: 700px;
}

.title_profile {
    background-color: white;
    margin: 10px 30%;
    font-size: 20px;
    padding-bottom: 20px;
}
