.wrapper{
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    width: 105vw;

}

.header{
    /*position: -webkit-sticky;*/
    position: sticky;
    z-index: 5;
    top: 0;
    background: rgba(26, 26, 23, 0.73);
}